In [110]:
from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy.orm import sessionmaker, declarative_base

**- create_engine :** it is used to make connection from database

**- column :** it defines columns in database

**- integer and string :** datatype of values in database

In [111]:
engine = create_engine('sqlite:///users.db')

In [112]:
Base = declarative_base()
class User(Base):
    __tablename__ = 'users'
    id = Column(Integer, primary_key=True)
    name = Column(String)
    email = Column(String)
    password = Column(String)

In [113]:
Base.metadata.create_all(engine)

In [114]:
Session = sessionmaker(bind = engine)
session = Session()

In [115]:
# add a new user Aakash

new_user  = User(name = 'Aakash', password = '4321')
session.add(new_user)
session.commit()

In [116]:
# add a new user Arun

new_user  = User(name = 'Arun', password = '54321')
session.add(new_user)
session.commit()

In [117]:
# update operation

user  = session.query(User).filter_by(name = 'Aakash').first()
user.name = 'Sumiran'
session.commit()

In [118]:
# retrieve all data 

users  = session.query(User).all()
for x in users:
    print(f'ID: {x.id}, Name: {x.name},Email : {x.email}, Password: {x.password}')

ID: 1, Name:  Aakash,Email : None, Password: 4321
ID: 2, Name: Arun,Email : None, Password: 54321
ID: 3, Name:  Aakash,Email : None, Password: 4321
ID: 4, Name: Arun,Email : None, Password: 54321
ID: 5, Name:  Aakash,Email : None, Password: 4321
ID: 6, Name: Arun,Email : None, Password: 54321
ID: 7, Name:  Aakash,Email : None, Password: 4321
ID: 8, Name: Arun,Email : None, Password: 54321
ID: 9, Name:  Aakash,Email : None, Password: 4321
ID: 10, Name: Arun,Email : None, Password: 54321
ID: 11, Name:  Aakash,Email : None, Password: 4321
ID: 12, Name: Arun,Email : None, Password: 54321
ID: 13, Name:  Aakash,Email : None, Password: 4321
ID: 14, Name: Arun,Email : None, Password: 54321
ID: 16, Name: Arun,Email : None, Password: 54321
ID: 17, Name: Sumiran,Email : None, Password: 4321
ID: 18, Name: Arun,Email : None, Password: 54321

In [119]:
# Delete Operation

user  = session.query(User).filter_by(name = 'Sumiran').first()
session.delete(user)
session.commit()

In [120]:
users  = session.query(User).all()
for x in users:
    print(f'ID: {x.id}, Name: {x.name},Email : {x.email}, Password: {x.password}')

ID: 1, Name:  Aakash,Email : None, Password: 4321
ID: 2, Name: Arun,Email : None, Password: 54321
ID: 3, Name:  Aakash,Email : None, Password: 4321
ID: 4, Name: Arun,Email : None, Password: 54321
ID: 5, Name:  Aakash,Email : None, Password: 4321
ID: 6, Name: Arun,Email : None, Password: 54321
ID: 7, Name:  Aakash,Email : None, Password: 4321
ID: 8, Name: Arun,Email : None, Password: 54321
ID: 9, Name:  Aakash,Email : None, Password: 4321
ID: 10, Name: Arun,Email : None, Password: 54321
ID: 11, Name:  Aakash,Email : None, Password: 4321
ID: 12, Name: Arun,Email : None, Password: 54321
ID: 13, Name:  Aakash,Email : None, Password: 4321
ID: 14, Name: Arun,Email : None, Password: 54321
ID: 16, Name: Arun,Email : None, Password: 54321
ID: 18, Name: Arun,Email : None, Password: 54321