- Dictionary : In Python, a dictionary is a built-in data type that allows you to store key-value pairs. Each key in a dictionary is unique and is used to access the corresponding value. Dictionaries are mutable, meaning you can change their content after they are created. They are defined using curly braces {} with key-value pairs separated by colons (:)

In [2]:
student = {
    "name": "Aakash",
    "roll_no": 1,
    "age": 20,
    "course": "BCA"
}

print(student)

{'name': 'Aakash', 'roll_no': 1, 'age': 20, 'course': 'BCA'}

- how to declare it in different ways
- how to access key and value pairs
- how to use loops in dictionary
- indexing in dictionary

In [ ]:
temperature = {
  'Lucknow' : [40, 45, 48],
  'Delhi' : [42, 46, 50],
  'Mumbai' : [35, 40, 45]
}
print(temperature)

{'Lucknow': [40, 45, 48], 'Delhi': [42, 46, 50], 'Mumbai': [35, 40, 45]}

In [5]:
info = dict(name = 'Aakash', roll_no = 1, age = 20, course = 'BCA')
print(info)

{'name': 'Aakash', 'roll_no': 1, 'age': 20, 'course': 'BCA'}

- 1st method to access values using key

In [8]:
print(info['name'])
print(info['roll_no'])
print(info['age'])
print(info['course'])

Aakash
1
20
BCA

- 2nd method to access values using get() method

In [9]:
print(info.get('name'))
print(info.get('roll_no'))

Aakash
1

- to add items in dictionary

In [10]:
info['city'] = 'Lucknow'
print(info)

{'name': 'Aakash', 'roll_no': 1, 'age': 20, 'course': 'BCA', 'city': 'Lucknow'}

In [ ]:
print(student.keys())
print(student.values()) 
print(student.items())

dict_keys(['name', 'roll_no', 'age', 'course'])
dict_values(['Aakash', 1, 20, 'BCA'])
dict_items([('name', 'Aakash'), ('roll_no', 1), ('age', 20), ('course', 'BCA')])

- to access keys, values and items using loops

In [13]:
for x, y in student.items():
    print(f"{x} : {y}")

name : Aakash
roll_no : 1
age : 20
course : BCA

- Nested Dictionary

In [ ]:
company = {
  'cmp1': {
    "name": "Facebook",
    "location": "Menlo Park",
    "employees": 50000
  },
  'cmp2': {
    "name": "Google",
    "location": "Mountain View",
    "employees": 60000
  },
  'cmp3': {
    "name": "Amazon",
    "location": "Seattle",
    "employees": 200000
  }
}
print(company)

{'cmp1': {'name': 'Facebook', 'location': 'Menlo Park', 'employees': 50000}, 'cmp2': {'name': 'Google', 'location': 'Mountain View', 'employees': 60000}, 'cmp3': {'name': 'Amazon', 'location': 'Seattle', 'employees': 200000}}

In [15]:
from pprint import pprint

In [16]:
pprint(company)

{'cmp1': {'employees': 50000, 'location': 'Menlo Park', 'name': 'Facebook'},
 'cmp2': {'employees': 60000, 'location': 'Mountain View', 'name': 'Google'},
 'cmp3': {'employees': 200000, 'location': 'Seattle', 'name': 'Amazon'}}

In [17]:
company ['cmp2'] ['name']

'Google'

In [18]:
print(temperature['Lucknow'])
print(temperature['Lucknow'][1])

[40, 45, 48]
45

In [21]:
print(temperature['Lucknow'])
average = sum(temperature['Lucknow']) / len(temperature['Lucknow'])
print(average)

[40, 45, 48]
44.333333333333336